* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
input,
label {
  display: block;
  width: 250px;
  margin: 5px 0;
  margin-left: 5px;
}

input {
  border-radius: 5px;
  border: 1px solid black;
}
button {
  background-color: dodgerblue;
  color: white;
  width: 250px;
  margin-top: 10px;
  margin-left: 8px;
  border: 1px solid rgb(37, 127, 218);
  border-radius: 5px;
}
.SubmisionBox {
  border: 1px solid black;
}
.Submision {
  display: flex;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-width: 0 0 1px 0;
}
.SubmisionName {
  width: 30%;
}
.SubmisionQuestion {
  width: 70%;
}
